<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         body {font-family: Arial, Helvetica, sans-serif;}
         * {box-sizing: border-box;}
         /* Button used to open the chat form - fixed at the bottom of the page */
         .open-button {
         background-color: #555;
         color: white;
         padding: 16px 20px;
         border: none;
         cursor: pointer;
         opacity: 0.8;
         position: fixed;
         bottom: 23px;
         right: 28px;
         width: 280px;
         }
         /* The popup chat - hidden by default */
         .chat-popup {
         display: none;
         position: fixed;
         bottom: 0;
         right: 15px;
         border: 3px solid #f1f1f1;
         z-index: 9;
         }
         /* Add styles to the form container */
         .form-container {
         max-width: 300px;
         padding: 10px;
         background-color: white;
         }
         /* Full-width textarea */
         .form-container textarea {
         width: 100%;
         padding: 15px;
         margin: 5px 0 22px 0;
         border: none;
         background: #f1f1f1;
         resize: none;
         max-height: 10%;
         }
         /* When the textarea gets focus, do something */
         .form-container textarea:focus {
         background-color: #ddd;
         outline: none;
         }
         /* Set a style for the submit/send button */
         .form-container .btn {
         background-color: #04AA6D;
         color: white;
         padding: 16px 20px;
         border: none;
         cursor: pointer;
         width: 100%;
         margin-bottom:10px;
         opacity: 0.8;
         }
         /* Add a red background color to the cancel button */
         .form-container .cancel {
         background-color: red;
         }
         /* Add some hover effects to buttons */
         .form-container .btn:hover, .open-button:hover {
         opacity: 1;
         }
      </style>
   </head>
   <body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="14.1058.0">
      <h2>Popup Chat Window</h2>
      <p>Click on the button at the bottom of this page to open the chat form.</p>
      <p>Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.</p>
      <button class="open-button" onclick="openForm()">Chat</button>
      <div class="chat-popup" id="myForm" style="display: block;">
         <form class="form-container" id="myForm1" onsubmit="submit_GetMessages()">
            <h1>CHAT</h1>
            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required="" spellcheck="false"></textarea>
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
         </form>
      </div>
      <script>
         function openForm() {
           getRecords();
           document.getElementById("myForm").style.display = "block";
         }
         function submit_GetMessages() {
         let form = document.getElementById("myForm1");
         form.action = '/input/#[vars.userName]';
         form.method = 'POST';
         document.body.append(form);
         form.submit();
         wait(5000);
         getRecords();
         }
         function getRecords(){
         	let url = 'http://localhost:8081/getAll';
         fetch(url)
         .then(res => res.json())
         .then((out) => {
         	alert(JSON.stringify(out));
           console.log('Checkout this JSON! ',out);
         })
         .catch(err => { throw err });
         }
         function closeForm() {
           location.href = "/clearAll/#[vars.userName]";
           document.getElementById("myForm").style.display = "none";
         }
         function wait(ms){
            var start = new Date().getTime();
            var end = start;
            while(end < start + ms) {
              end = new Date().getTime();
           }
         }
         
      </script>
   </body>
   <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>